@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&family=Plus+Jakarta+Sans:ital,wght@ 0.200..800;1.200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');

:root {
    --color-1: #121214;
    --color-2: #e1e1e6;
    --color-3: #8234e9;
    --color-4: #1a1a1e;
    --color-5: #c4c4cc;
    --color-6: #202024;
    --color-7: #111113;
    --color-8: #1dce9b;
    --color-9: #202024;
    --color-10: #c7c7c7;
    --color-11: #692bb9;
    --color-12: #6f00ff50;
    --color-13: #f48f56;
    --color-14: #ffcd1e;
    --color-15: #ff4a4a;
    --color-16: #fff;
    --color-17: #0c0c1a;
    --color-18: #000000;
    --color-19: #767676;
    --color-20: #fcfcfc;

    --color-gradient-font: linear-gradient(to right, #fcfcfc 18%, #767676);

    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
    --font-martian-mono: 'Martian Mono', monospace;
    --font-poppins: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: var(--font-jakarta);
}

html,
body {
    height: 100vh;
    background-color: var(--color-1);
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    overflow: hidden;
}

.nav-header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 99999;
    border-bottom: 1px solid var(--color-6);
    background-color: var(--color-7);
}

.nav-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    margin-top: 10px;
    margin-left: 100px;
}

.nav-logo img {
    height: 5rem;
}

.nav-interacoes {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: justify;
    gap: 1rem;
    margin-right: 5rem;
}

.btn-interacoes {
    padding: 1rem 1.5rem;
    background-color: transparent;
    border-radius: 9px;
    color: var(--color-5);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-interacoes:hover {
    background-color: var(--color-6);
}

.nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.btn {
    padding: 1rem;
    font-size: 1em;
    color: var(--color-5);
    border-radius: 12px;
    background-color: transparent;
    border: 1.5px solid var(--color-3);
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: var(--color-3);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 10rem 2rem;
}

.content {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    cursor: default;
}

.article-foto img {
    height: 100%;
}

.article-conteudo h4 {
    background-color: var(--color-18);
    padding: 0.3rem;
    border: 1px solid var(--color-19);
    border-radius: 7px;
    max-width: max-content;
    background-image: var(--color-gradient-font);
    background-clip: text;
    -webkit-background-clip: text;
    font-family: var(--font-martian-mono);
    color: transparent;
    font-size: 1em;
    box-shadow: 0px 0px 1000px 50px #c08fff62;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: start;
}

.coding {
    color: var(--color-20);
    animation: toggleContent 0.7s infinite;
}

.article-conteudo h1 {
    font-size: 5em;
    font-weight: 600;
    color: var(--color-16);
}

.article-conteudo .nome-titulo {
    font-family: var(--font-poppins);
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px var(--color-11);
}

.article-conteudo p {
    padding-top: 1.5rem;
    color: var(--color-10);
    font-size: 1em;
    font-weight: 300;
    text-align: justify;
    text-wrap: wrap;
}

.nome-paragrafo {
    color: var(--color-11);
    font-weight: 600;
}

.nav-mobile-menu {
    display: none;
    font-size: 1.5em;
    color: var(--color-3);
    cursor: pointer;
    transition: all 0.5s ease;
}

.mobile-menu-list {
    display: none;
    transition: all 0.5s ease;
}

.mobile-menu-list.abrir {
    width: 100%;
    display: flex;
    background-color: var(--color-7);
    border-bottom: 1px solid var(--color-6);
    position: absolute;
    left: 0;
    top: 90px;
}

.nav-mobile-menu:hover {
    color: var(--color-2);
}

.btn-interacoes-moba {
    padding: 1rem 1rem;
    background-color: transparent;
    border-radius: 9px;
    color: var(--color-5);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
}

.loading {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.load {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 8px solid #1a1a1e80;
    transition: all 0.5s ease;
    animation: gradientColor 2s infinite linear;
}

.site {
    display: none;
}

.popupalert {
    height: 100vh;
    width: 100%;
    position: absolute;
    place-items: center;
    z-index: 999999;
    background-color: #000000cc;
}

.popup-content {
    max-height: 800px;
    max-width: 700px;
    background-color: var(--color-4);
    border-radius: 6px;
    border: 1.5px solid var(--color-3);
    padding: 3rem 2rem;
}

.popup-content h1 {
    text-align: center;
    color: var(--color-20);
    font-size: 2em;
    font-family: var(--font-martian-mono);
    font-weight: bold;
    margin-bottom: 3rem;
}

.popup-content p {
    text-align: justify;
    color: var(--color-5);
    font-size: 1em;
    font-weight: 300;
    font-family: var(--font-jakarta);
}

.popup-content button {
    display: block;
    margin: auto;
    margin-top: 3rem;
}

.line {
    height: 50px;
    background-color: #333;
    width: 1px;
}

.linguagensMoba {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: var(--color-7);
    position: absolute;
    top: 150px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color-6);
}

.linguagensMoba.open {
    display: grid;
}

.linguagensMoba h1 {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1em;
    font-family: var(--font-martian-mono);
    color: var(--color-20);
}

.linguagensMoba h1 > i {
    padding-left: 0.4rem;
    font-size: 0.9em;
    font-weight: normal;
    color: var(--color-3);
}

.descMoba {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: var(--color-7);
    position: absolute;
    top: 50px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color-6);
}

.descMoba p {
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 2rem;
    font-size: 0.7em;
    font-family: var(--font-jakarta);
    font-weight: 400;
    color: var(--color-20);
}

.quemsoueuMoba.open {
    display: grid;
}

.quemsoueuMoba {
    display: none;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--color-7);
    position: absolute;
    top: 150px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color-6);
}

.quemsoueuMoba > i {
    font-size: 1em;
    color: var(--color-12);
}

.quemsoueuMoba h1 {
    align-items: center;
    padding-top: 1rem;
    font-size: 1.5em;
    font-family: var(--font-martian-mono);
    color: var(--color-20);
}

.quemsoueuMoba p {
    font-size: 0.7em;
    font-family: var(--font-jakarta);
    font-weight: 400;
    color: var(--color-5);
    text-align: justify;
    grid-template-rows: 2;
    padding: 1rem;
}

.quemsoueuMoba h1 > i {
    color: var(--color-3);
}

.inspiracaoMoba.open {
    display: grid;
}

.inspiracaoMoba {
    display: none;
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--color-7);
    position: absolute;
    top: 150px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color-6);
}

.inspiracaoMoba h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: var(--font-martian-mono);
    color: var(--color-3);
}

.linguagens {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: var(--color-7);
    position: absolute;
    top: 99px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color-6);
}

.linguagens h1 {
    display: flex;
    align-items: center;
    padding: 4rem;
    font-size: 2em;
    font-family: var(--font-martian-mono);
    color: var(--color-20);
}

.linguagens h1 > i {
    padding-left: 1rem;
    font-size: 0.9em;
    font-weight: normal;
    color: var(--color-3);
}

.desc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: var(--color-7);
    position: absolute;
    top: 99px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color-6);
}

.desc p {
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 3rem;
    font-size: 1em;
    font-family: var(--font-jakarta);
    font-weight: 400;
    color: var(--color-20);
}

.quemsoueu {
    display: none;
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--color-7);
    position: absolute;
    top: 99px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color-6);
}

.quemsoueu > i {
    font-size: 5em;
    color: var(--color-12);
}

.quemsoueu h1 {
    align-items: center;
    padding-top: 4rem;
    font-size: 2em;
    font-family: var(--font-martian-mono);
    color: var(--color-20);
}

.quemsoueu p {
    font-size: 1em;
    font-family: var(--font-jakarta);
    font-weight: 400;
    color: var(--color-5);
    text-align: justify;
    grid-template-rows: 2;
    padding: 4rem;
}

.quemsoueu h1 > i {
    color: var(--color-3);
}

.inspiracao {
    display: none;
    padding: 5rem 0;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--color-7);
    position: absolute;
    top: 99px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color-6);
}

.inspiracao h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: var(--font-martian-mono);
    color: var(--color-3);
}

mark {
    background-color: var(--color-3);
}

@keyframes toggleContent {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes gradientColor {
    0% {
        transform: rotate(360deg);
        border-top-color: var(--color-3);
    }
    30% {
        border-top-color: var(--color-14);
    }
    60% {
        border-top-color: var(--color-13);
    }
    90% {
        border-top-color: var(--color-15);
    }
    100% {
        border-top-color: var(--color-3);
    }
}

@media (max-width: 750px) {
    .nav-contents {
        justify-content: space-around;
    }
    .nav-btns {
        display: none;
    }
    .nav-interacoes {
        display: none;
    }
    .nav-logo {
        margin-left: 0px;
    }
    .content {
        grid-template-columns: repeat(1, 2fr);
    }
    .nav-mobile-menu {
        display: block;
    }
    .nav-header {
        position: relative;
    }
    .popup-content {
        max-height: 800px;
        max-width: 500px;
        background-color: var(--color-4);
        border-radius: 6px;
        border: 1.5px solid var(--color-3);
        padding: 2rem 1rem;
    }
    .article-conteudo h1 {
        font-size: 3em;
    }
    .article-conteudo p {
        font-size: 0.7em;
    }
    .article-conteudo h4 {
        font-size: 0.8em;
    }
}

@media (min-width: 751px) {
    .list-mobile {
        display: none;
    }
}
